.home-header-div{
	background: linear-gradient(180deg, #000000b3, #0000004d 72.92%, #0000);
	font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 14px;
	font-weight: 600;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: 100%;
	height: 130px;
	padding: 20px;
	position: absolute;
	z-index: 999;
}

.header-div {
	background-color: white;
	color: black;
	font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 14px;
	font-weight: 600;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: 100%;
	height: 130px;
	position: absolute;
}

.login-signup{
	margin-top: 20px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	color: white;
}

.header-logo-1, .header-logo-2{
	margin-top: 20px;
}

